.navbar {
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}

.nav-item {
  list-style-type: none;
}

.nav-link {
  transition: 0.7s ease;
  color: white;
  text-decoration: none;
}

.nav-link:hover {
  color: #ff4d00;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

#hero {
  height: calc(100vh - 20em - 70px);
  margin-top: 22em;
  padding: 0 24px;
}

.hero-title {
  margin-bottom: 0.5em;
  font-size: 2.5em;
}

.hero-content {
  width: 35%;
}

.content-wrapper {
  margin-top: 1em;
  padding: 0 24px;
}

@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #262626;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-branding {
    font-size: 1.2rem;
  }

  .nav-item {
    margin: 16px 0;
  }

  .nav-menu.active {
    left: 0;
  }

  #hero {
    margin-top: 8em;
    color: white;
    padding: 0 24px;
  }

  .hero-title {
    margin-bottom: 0.5em;
  }

  .hero-content {
    width: 100%;
  }

  .content-wrapper {
    margin-top: 1em;
    background-color: white;
  }

  header {
    background-color: #262626;
  }
}
