.location-title {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.location-paragraph {
  line-height: 200%;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

.location-info {
  margin-top: 1em;
  text-align: center;
}

.location-button--phone {
  margin-top: 1em;
  border: 1px solid #262626;
  background-color: #ff4d00;
  padding: 1em;
  border-radius: 20px;
}

.location-button--phone:hover {
  border: 1px solid #ff4d00;
  background-color: #262626;
}

.location-info a {
  text-decoration: none;
  color: white;
}

.location-table {
  width: 72% !important;
  margin: 0 auto;
  margin-top: 1.5em;
}

.location-table-info {
  display: none;
}

.map {
  text-align: center;
  margin-top: 2em;
}

@media (max-width: 768px) {
  .location-table {
    display: none;
  }

  .location-table-info {
    display: block;
    margin-top: 1em;
  }

  .map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    text-align: justify;
  }

  .map iframe {
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
